Content/StarterContent
Content/ExternalContent
Content/__ExternalActors__
Content/__ExternalObjects__
West_Transport_C130J.png
Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace